@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  background-color: #fffcf2;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  height: 50vh;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #9E9A9A;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .35);
}